@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.resultProductContainer::-webkit-scrollbar {
    width: 8px;
    height: 20px;
    border-radius: 10px;
    background: #a3a3a3;
}

.resultProductContainer::-webkit-scrollbar-thumb {
    background: #515151;
    border-radius: 10px;
}